body {
    background-color: #efefef;
}
img {
    width: 50%;
}
.gototop {
    text-decoration: none;
    width: 3em;
    padding: 5px 12px 5px 12px;
    background-color: rgb(37, 17, 34);
    border: 1px solid burlywood;
    border-radius: 20em;
    color: burlywood;
    margin: 3% 0% 0px 45%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.gototop:hover {
    background-color: burlywood;
    color: rgb(1, 104, 70);
    border: 2px solid rgb(1, 104, 70);
    font-weight: bold;
}